#Ag05{
  font-family: monospace;
  font-weight: bolder;
  color: slategray;
  background-color: DarkBlue;
  text-align: center;
  font-size: 300px;
  padding: 20 px;
  border: 5px dotted black;
}

.box{
  width :100px;
  height: 150px;
  border: 2px dotted Slategrey;
  font: monospace;
}

.my_container{
  color: black;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: space-around;
}
