#Ag05{
  position: static;
  font-family: sans-serif, monospace;
  font-weight: bolder;
  color: slategray;
  background-color: DarkBlue;
  text-align: center;
  font-size: 300px;
  padding: 20 px;
  border: 5px dotted black;
  border-radius: 25%;
  z-index: 0;
}

.box{
  background-color: Violet;
  width :100px;
  height: 150px;
  border: 2px dotted Slategrey;
  font: monospace;
}

.my_container{
  text-align: center;
  background-color: dodgerblue;
  height: 300px;
  width: 500px;
  display: flex;
  border: 5px solid black;
  justify-content: space-between;
}

// Creating boxes for know Proggraming Languages
//Anything 'black' is temp
.prog_langs{
  background-color: black;
  border: 2px solid black;
  width: ;
  height: ;
  font: ;

  display: ;
  justify-content: ;
  z-index: ;
}
